<form #hitForm="ngForm" class="hitForm" novalidate>
    <div class="tab-pane fade in active">
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">

                <h3 class="hit-chk-h3">סמן את מיקום הפגיעה ברכב שלך</h3>



                <div class="car" (change)="selected = !selected && !selected = !selected " >


                      <input [required]="selected" name="frontRight" #frontRight="ngModel" [(ngModel)]="hit.frontRight"
                      type="checkbox" id="btnControl3" class="boxState"/>
                      <label class="btn3" for="btnControl3"> </label>

                      <input [required]="selected" name="frontDoorRight" #frontDoorRight="ngModel" [(ngModel)]="hit.frontDoorRight"
                      type="checkbox" id="btnControl2" class="boxState" />
                      <label class="btn2" for="btnControl2"> </label>

                      <input [required]="selected" name="backDoorRight" #backDoorRight="ngModel" [(ngModel)]="hit.backDoorRight"
                      type="checkbox" id="btnControl1" class="boxState"/>
                      <label class="btn1" for="btnControl1"> </label>

                      <input [required]="selected" name="backRight" #backRight="ngModel" [(ngModel)]="hit.backRight"
                      type="checkbox" id="btnControl0" class="boxState"/>
                      <label class="btn0" for="btnControl0"> </label>
                      <br>
                      <input [required]="selected" name="frontLeft" #frontLeft="ngModel" [(ngModel)]="hit.frontLeft"
                      type="checkbox" id="btnControl7" class="boxState"/>
                      <label class="btn7" for="btnControl7"> </label>

                      <input [required]="selected" name="frontDoorLeft" #frontDoorLeft="ngModel" [(ngModel)]="hit.frontDoorLeft"
                      type="checkbox" id="btnControl6" class="boxState"/>
                      <label class="btn6" for="btnControl6"> </label>

                      <input [required]="selected" name="backDoorLeft" #backDoorLeft="ngModel" [(ngModel)]="hit.backDoorLeft"
                       type="checkbox" id="btnControl5"/>
                      <label class="btn5" for="btnControl5"> </label>

                      <input [required]="selected" name="backLeft" class="boxState" type="checkbox" id="btnControl4"
                       #backLeft="ngModel" [(ngModel)]="hit.backLeft"/>
                      <label class="btn4" for="btnControl4"> </label>
              </div>




                  <h3 class="hit-pic-h3">צלם את מיקום הפגיעה ברכב שלך</h3>

                          <ng2-file-input required="required"  name="myFile"
                           [id]="'multiFilesInputWithPreview'" (onCouldNotRemove)="onCouldNotRemove($event)"
                           [multiple]="true"  (onRemoved)="onRemoved($event)" (onAdded)="onAdded($event)"
                           (onAction)="onAction($event)"  #hits="ngModel" [(ngModel)]="myFile"
                           accept="image/*;capture=camera">
                         </ng2-file-input>

                    <div class="form-group text-center space-20">

                      <button routerLink="/case"   class="btn btn-success btn-outline-rounded btn-info" [disabled]="!hitForm.valid" (click)="save(hitForm)"> המשך בהגשת התביעה </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
