<form #caseForm="ngForm" class="caseForm" novalidate>
    <div class="tab-pane fade in active">
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">


                  <h3 class="involved-dit-h3 to-center">ספר לנו על פרטי המקרה</h3>
                  <div class="row to-center">
                    <label>תאריך התאונה
                      <input required class="form-control"
                             type="date"
                             name="exDate"
                             [(ngModel)]="this.exDate" >
                    </label>
                    <label> שעת התאונה
                      <input required class="form-control"
                             type="time"
                             name="exTime"
                             [(ngModel)]="this.exTime">
                     </label>
                     <label> עיר
                       <input required class="form-control"
                              type="text"
                              placeholder="העיר בה התרחשה התאונה"
                              name="exCity"
                              [(ngModel)]="this.exCity">
                     </label>
                    <label> רחוב
                      <input required class="form-control"
                             type="text"
                             placeholder="הרחוב בו התרחשה התאונה"
                             name="exStreet"
                             [(ngModel)]="this.exStreet">
                    </label>

                  </div>


                  <h3 class="involved-dit-h3 to-center">תיאור המקרה והתרחשות האירועים</h3>
                      <textarea class="form-control"
                      name="exDit"
                      rows="8" cols="80"
                      [(ngModel)]="this.exDit">
                      </textarea>

                <hr>

                  <h3 class="involved-dit-h3 to-center">האם היו עדים בתאונה?</h3>


                    <div class="form-group"  *ngFor="let witness of witnesses; let i=index">

                      <div class="row to-center" *ngIf="i<5">

                        <button class="btn btn-primary col-xs-2 col-sm-2"
                                type="button" name="RemoveWitness"
                                (click)="remWitness()">מחק עד
                        </button>
                        <i class="fa fa-user fa-right" aria-hidden="true"></i>
                        <label class="inline">שם מלא
                          <input class="form-control witnesses"
                                 placeholder="הזן שם מלא"
                                 name="witnesNmae" type="text"
                                 [(ngModel)]="witness[i]">
                        </label>
                        <label class="inline">טלפון
                          <input class="form-control witnesses"
                                 placeholder="הזן מספר טלפון"
                                 name="witnesTel" type="phone"
                                 [(ngModel)]="witness[i]">
                        </label>

                      </div>

                    </div>
                    <div class="form-group" [hidden]="noWitness || click==5">
                      <button class="btn btn-primary" type="button" name="addEnv" (click)="addWitness()"> הוסף עד</button>
                    </div>


                    <div class="checkbox">
                        <label>
                            <input
                                   required type="checkbox"
                                   [(ngModel)]="agreed"
                                   (click)="agreedToTerms()"


                            >
                            <span>קראתי את התקנון ואני מסכים לתנאי השימוש והמדיניות</span>
                        </label>
                    </div>


                    <div class="form-group text-center space-20">
                        <button class="btn btn-outline-rounded btn-info" [disabled]="!caseForm.valid || !agreed" (click)="save(polisaForm)"> המשך בהגשת התביעה </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
