<form #polisaForm="ngForm" class="polisaForm" novalidate>
    <div class="tab-pane fade in active">
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                <div class="row">



                <!-- Page Title -->
                <h3 class="are-you-polisa-owner">האם אתה בעל הפוליסה</h3>

                <!-- Polisa Ownership -->
                    <div class="radio">

                <!-- IM The Polisa Owner -->
                        <label>
                            <input required name="polisa-owner"
                                   (click)="hide()"
                                   type="radio"
                                   #polisaOwnerYes="ngModel"
                                   [(ngModel)]="this.polisaOwner"
                                   value="אני בעל הפוליסה">
                            <br>
                            <span>כן</span>
                        </label>

                <!-- IM Not The Polisa Owner -->
                        <label>
                            <input required name="polisa-owner"
                                   type="radio"
                                   #polisaOwnerNo="ngModel"
                                   (click)="show()"
                                   [(ngModel)]="this.polisaOwner"
                                   value="אני לא בעל הפוליסה">
                            <br>
                            <span>לא</span>
                        </label>
                    </div>

              <!-- Enter The Car Number -->
                    <div class="form-group">
                        <input required class="form-control input-md" id="carNumber"
                               name="myCarNumber"
                               type="number" pattern="[0-9]{7,8}"
                               placeholder="הזן את מספר הרכב הרלוונטי"
                               #carNumber="ngModel"
                               [(ngModel)]="this.myCarNumber"
                               >

              <!-- Car Number Is Not Valid -->
                        <div class="alert alert-danger"
                             *ngIf="!carNumber.valid && carNumber.touched">יש להזין מספר רכב תקין
                       </div>
                    </div>

              <!-- Uploading The Driving Licence -->
                    <div class="form-group" [hidden]="showUpload">
                      <label for="licenceNumber">אנו זקוקים לרשיון הנהיגה שלך</label>
                     <upload-form>
                     </upload-form>
                    </div>


              <!-- Next -->
                    <div *ngFor="let item of items | async ;let last = last"
                    class="form-group text-center space-20">
                        <button *ngIf="last"
                                routerLink="/involved"
                                class="btn btn-outline-rounded btn-info"
                                [disabled]="!polisaForm.valid"
                                (click)="updateItem(item.$key, carNumber.value,polisaOwnerYes.value,polisaOwnerNo.value)"> המשך בהגשת התביעה
                      </button>

                    </div>



                </div>
            </div>
        </div>
    </div>
</form>
